@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.login-pf-page,
.login-pf-page h1,
.login-pf-page input,
.login-pf-page button,
.login-pf-page textarea,
.login-pf-page select {
    font-family: 'Calistoga', cursive !important;
}

.login-pf body {
    background: #8de7ef !important;
    background-image: none !important;
    font-family: 'Calistoga', cursive !important;
}

.card-pf {
    border-radius: 16px;
    border: 0px;
    background: none !important;
    box-shadow: none !important;
}

.kc-info-wrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

a {
    color: #004f53;
}

#kc-info-wrapper {
    background: #8de7ef !important;
    color: #004f53 !important;
}

a:hover {
    color: #004f53 !important;
    text-decoration: underline;
}

a:focus,
a:active,
a:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: inherit !important;
  text-decoration: none !important;
}

.pf-c-button.pf-m-primary {
    color: #ffffff !important;
    background-color: #00686e !important;
    border-radius: 9999px;
    padding: 14px 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    max-width: 200px;
}

.pf-c-button.pf-m-primary:hover,
.pf-c-button.pf-m-primary:active,
.pf-c-button.pf-m-primary:focus {
    background-color: #004f53 !important;
}

.pf-c-button.pf-m-primary:disabled {
    cursor: not-allowed;
    background-color: #8f9191 !important;
}

.pf-c-button.pf-m-primary:disabled:hover {
    background-color: #aaacac !important;
}

.btn-default {
    color: #ffffff !important;
    background-color: #8f9191 !important;
    background-image: none !important;
    border-radius: 9999px;
    padding: 14px 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: #757878 !important;
}

#kc-header-wrapper {
    display: flex;
    justify-content: center;
    padding: 100px 0px 0px 0px !important;
}

#kc-page-title {
    font-family: 'Calistoga', cursive !important;
    color: #004f53 !important;
}

.logo {
    max-width: 200px;
    height: auto;
    max-height: 80px;
}

.pf-c-form-control {
    color: #004f53 !important;
    border-radius: 9999px;
    border: none !important;
    padding: 24px 20px !important;

    box-shadow: 0 6px 18px rgba(0,0,0,0.10);
    transition: box-shadow 180ms ease, transform 180ms ease;
}

.pf-c-form-control:focus,
.pf-c-form-control:focus-visible {
    border-radius: 9999px;
    border: none !important;
    padding: 24px 20px !important;
    outline: none !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14), 0 0 0 6px rgba(165, 96, 0, 0.08);
    transform: translateY(-1px);
}

#kc-form-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.pf-c-alert.pf-m-inline {
    background: #8de7ef !important;
    border: none !important;
}

#kc-current-locale-link {
    color: #004f53 !important;
}

#kc-registration {
    color: #000000 !important;
}

.pf-c-form__helper-text.pf-m-error {
    padding-left: 16px;
    padding-top: 8px;
}

.pf-c-alert__icon {
    display: none !important;
}

.pf-c-alert__title {
    text-align: center !important;
    font-weight: 500 !important;
}

.required {
    color: #de3730 !important;
}